html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 62.5%; /* 1 rem = 10px */
  font-family: 'Josefin Sans', sans-serif;
}

/* UTILIDADES */
.container {
  margin: 0 auto;
}

/* HEADER */

.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #ffcc00a4;
  z-index: 1000;
}
.top-logo {
  display: flex;
  align-items: center;
  flex-basis: calc(33.3% - 1rem);
}
.top-logo img {
  margin-left: 10px;
  margin-top: 8px;
  width: 110px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(33.3% - 1rem);
}
.menu-btn {
  position: relative;
  top: -10px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burguer {
  position: absolute;
  display: flex;
  align-items: center;
  width: 40px;
  height: 5px;
  background: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burguer::before,
.menu-btn-burguer::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burguer::before {
  transform: translateY(-12px);
}
.menu-btn-burguer::after {
  transform: translateY(12px);
}

.menu-btn.expand .menu-btn-burguer {
  background: transparent;
}
.menu-btn.expand .menu-btn-burguer::before {
  transform: rotate(45deg);
}
.menu-btn.expand .menu-btn-burguer::after {
  transform: rotate(-45deg);
}

.navigation ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.navigation li a {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.navigation nav li:not(:first-child) {
  background: transparent;

  transform: translateY(-240px);
  transition: all 0.5s ease-in-out;
  line-height: 1.2;
}
.navigation nav li:not(:first-child).expand {
  transform: translateY(1px);
  transition: all 0.5s ease-in-out;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: calc(33.3% - 1rem);
}
.social-links img {
  width: 30px;
}

.header-background {
  height: 800px;
  background-image: url('/img/header-photo-phone.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
}

@media (min-width: 500px) {
  .header-background {
    background-image: url('/img/header-photo.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
  }
}

@media (min-width: 768px) {
  .top-logo {
    flex-basis: calc(15% - 1rem);
  }
  .navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: calc(60% - 1rem);
  }
  .menu-btn {
    position: inherit;
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .navigation nav li {
    background: none;
    display: inline;
    line-height: 1.2;
    padding: 0 0.5rem;
  }

  .navigation nav li a {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .social-links {
    flex-basis: calc(15% - 1rem);
  }
  /* .navigation nav li:not(:first-child).expand {
    transform: translateY(1px);
    transition: all 0.5s ease-in-out;
  } */
}
